
    <header class="hero-search-filter">
        <div class="hero-search-filter-content">
            <h1 id="title">Beauty by Bootcamp</h1>
            <br>
            <form class="hero-search-filter-form" action="/search" method="POST">
                <label for="findtext">Find a Product</label>
                <input id="findtext" name="searchTerms" class="hero-search-filter-form-find" type="text" />
                <button class="button"><i class="fas fa-search"></i></button>
            </form>

        </div>
    </header>
