<!--     Project-2 Assignment   -->

<body>
  <h2>{{title}}</h2>
  <div class="container"></div>
  {{#each products}}

  
    <div class="product-card" style="display: inline-block;">
      <div class="product-card-thumbnail">
        <a href="#"><img src="https://placehold.it/180x180" /></a>
      </div>
      <h2 class="product-card-title"><a href="#">Product Name: {{this.name}} </a> </h2>
      <span class="product-card-desc">Product Description: {{this.department}}</span>
      <span class="product-card-price">${{this.price}}</span><span class="product-card-sale">$12.99</span>
    </div>
  

  {{/each}}
  </div>
  
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-sm-2 mt-4">
          <a class="btn btn-light" href="#">Tell us your thoughts!</a>
        </div>
      </div>
      <div class="col-md-5 offset-md-3">
        <form id="cms">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title">
            <br />
            <label for="body">Body:</label>
            <textarea class="form-control" rows="10" id="body"></textarea>
            <div class="form-group">
              <label for="category">Select Category:</label>
              <select class="custom-select" id="category">
                <option value="Customer Service">Customer Service</option>
                <option value="Product Review">Product Review</option>
                <option value="Functionality">Functionality</option>
              </select>
            </div>
            <br />
            <button type="submit" class="btn btn-success submit btn-lg">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->

  <div class="containerModal">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
      style="background-color: #987aaa">Sign in with Facebook!</button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sign in using Facebook.</h4>
          </div>
          <div class="modal-body">
            <p>FACEBOOK BUTTON WITH API GOES</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>







</body>
<footer>
  {{> footer}}
</footer>

</html>